@charset "UTF-8";
html, body {
    margin: 0;
    padding: 0;
     min-width: 320px; /*Это чтоб страница не сжималась меньше этого, все что меньше это будет горизонтальный скрол */
    font-family: Arial;
}

h2 {
    font-size: 20px;
    padding: 27px 0 27px 18px;
    margin: 0 0 34PX;
    border-bottom: 1px solid #E5E5E5;
}

#black-bar {
    background-color: #00122f;
    color: white;
    padding: 20px 0;
    font-size: 16px;
}

#black-bar a {
    color: white;

}

.fixed-container {
    max-width: 1000px;
    padding: 0 20px;
    margin: 0 auto;
   
} 

#datatime {
    float: right;
    }
#logo {
    position: absolute;
    top: 40px;
    
}

#mobile-logo {
    float:left;
    margin-top: 40px;
    height: 25px;   
    background-image: url(/img/internet.svg);
    background-size: 25px;
    background-repeat: no-repeat;
    padding-left: 35px;
    padding-top: 5px;
    font-size: 14px;
    display: none;
    
}

#mobile-menu {
    float: left;
    width: 20%;
    height: 25px; 
    margin-top: 40px;
    display: none;
}

#mobile-search {
    float: right;
    height: 25px; 
    width: 20%;
    margin-top: 40px;
    height: 25px;
    display: none;
}

#header {
    height: 100px;
}

#header .temp {
    float: right;
    margin-top: 45px;
    margin-right: 45px;
    height: 40px;
    padding-left: 35px;
    padding-top: 5px;
    background-image: url(/img/cloudy.svg);
    background-size: 25px;
    background-repeat: no-repeat;
    }
   
#header .search {
    height: 40px;
    width: 320px;
    margin-top: 40px;
    float: right;
}

#menu-container {
    height: 70px;
}

#column-left {
    background-color: #FFFFFF;
    width: 250px;
    float: left;
       
}
    #column-left h2 {
        font-size: 20px;
    }

.news-item {
    padding-left: 18px;
    margin-bottom: 27px;
    font-size: 14px;
}

.news-item-text {
    margin-bottom: 20px;
}

.news-item-props {
    font-size: 12px;
    position: relative;
}

    .news-item-props a{
        color: #91919F;
    }
    .news-time {
        position: absolute;
        top: 0;
        left: 120px;
        padding-left: 15px;
        background-image: url(/img/clock.svg);
        background-size: 12px;
        background-repeat: no-repeat;
    }
    .news-comments-count {
        position: absolute;
        top: 0;
        left: 180px;
        padding-left: 15px;
        background-image: url(/img/icon-comments.png);
        background-repeat: no-repeat;
    } 

#column-center {
    background-color: #f5f5f5;
    width: 420px;
    margin-left: 20px;
    float: left;
}

    .main-central-news-item {
        background-image: url(/img/c-news-1.png);
        height: 320px;
        margin-bottom: 20px;
        position: relative;
        color: #FFFFFF;
        font-size: 12px;
    }
        .main-central-news-category {
            position: absolute;
            top: 115px;
            left: 20px;
                      
        }
        .main-central-news-text {
            position: absolute;
            top: 150px;
            left: 20px;
            font-size: 30px;
            font-weight: bold;
        }
        .main-central-news-date {
            position: absolute;
            top: 270px;
            left: 20px;
        }
        .main-central-news-time {
            position: absolute;
            top: 270px;
            left: 115px;
            padding-left: 15px;
            background-image: url(/img/clock.svg);
            background-size: 10px;
            background-position: left;
            background-repeat: no-repeat;
        }
        
        .news-image {
            margin-bottom: 10px;
        }

        .news-left {
            margin-right: 7px;
        }

        .news-right {
            margin-left: 7px;
        }

        #column-center .news-item {
            padding-left: 0px;
            width: 200px;
            overflow: hidden;
            display: inline-block;
        }
       
        #column-center .news-time {
            left: 70px;
            
        }
        #column-center .news-comments-count {
            left: 135px;
        } 

#column-right {
    width: 250px;
    float: right;
}

#column-right img {
    margin-bottom: 20px;
}

#column-right img:last-of-type {
    border-bottom: 30px solid #f5f5f5;
    margin-bottom: 0px;
}


#central-container .fixed-container {
    overflow-y: hidden;
}

#central-container {
    padding-top: 20px;
    background-color: #F9F9F9;
    background-image: url('/img/central-bg-top.png');
    background-repeat: repeat-x;
}

#special-news-1 {
    height: 395px;
    width: 588px;
    background-position: left;
    background-image: url('/img/special-news.png');
    background-repeat: no-repeat;
    display: inline-block;

}

#special-news-2 {
    display: inline-block;
}


@media (max-width: 620px) {
    #header .temp {
    display: none;
    }
}


@media (max-width: 540px) {
    #datatime, #header .search, #logo, #menu-container  {
        display: none;
    }
    #mobile-logo, #mobile-menu, #mobile-search {
        display: initial;
    }
}
@media (max-width: 380px) {
    #black-bar {
        font-size: 14px;
    }
}

@media (max-width: 340px) {
    #black-bar {
        font-size: 12px;
    }
}
